* {
    box-sizing: border-box
}

body {
    font-size: 12pt;
    font-family: Tahoma, sans-serif;
    padding-right: 30px;
    padding-left: 30px
}

.vl_default_font {
    font-size: 12pt;
    font-family: Tahoma, sans-serif;
}

.vl_default_color {
    color: #000000;
}

.logtext {
    display: inline;
    font-family: monospace;
    font-size: 12pt;
    white-space: pre
}

code {
    font-family: courier, monospace;
    font-size: 12pt;
    font-weight: 700;
    white-space: pre;
}

table {
    border-collapse: collapse;
    padding: 8px;
    border: 1px solid;
    background-color: #fff;
    text-align: left
}

table td, table th {
    padding: 6px;
    border: 1px solid #000
}

table.vl_source_code {
    border-collapse: collapse;
    padding: 16px;
    border: 2px solid;
    background-color: #e5e5e5;
    text-align: left
}

table.vl_log_table {
    border-collapse: collapse;
    padding: 8px;
    border: 1px solid;
    background-color: #fff;
    text-align: center
}

table.vl_log_table td, table.vl_log_table th {
    border: 1px solid #000
}

table.vl_data_table {
    border-collapse: collapse;
    background-color: #fff;
    text-align: left;
    font-family: Century Gothic, sans-serif;
    font-size: medium
}

table.vl_data_table th {
    color: #305496
}

table.vl_data_table td, table.vl_data_table th {
    border: 1px solid #000;
    padding: 2px 20px 2px 4px
}

table.vl_data_table tr:nth-child(odd) {
    background: #D9E1F2
}

table.vl_log_table_seamless {
    border-collapse: collapse;
    padding: 0;
    border: None;
    background-color: #fff;
    text-align: center
}

table.vl_log_table_seamless td, table.vl_log_table_seamless th {
    border: None
}

div.vl_log_cell {
    horiz-align: center;
    border-collapse: collapse;
    padding: 0 0 0;
    border: transparent;
    background-color: #fff;
    text-align: left
}

.split {
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding: 0 20px 20px
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: inline-block
}

.greenButton {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

a:link {
    text-decoration: none;
    color: #00008b
}

a:visited {
    text-decoration: none;
    color: #00008b
}

a:hover {
    color: #5050FF;
    text-decoration: underline
}

a:active {
    text-decoration: underline
}

.vl_highlight_color {
    color: #4682b4
}

.vl_highlighted {
    color: #4682b4;
    font-weight: bold
}

.vl_error_color {
    color: #BB0000
}

.vl_error {
    color: #BB0000;
    font-weight: bold
}


h1, h2, h3, h4, h5, h6 {
    color: #4682b4
}

h3.vl_section_header {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    color: #4682b4
}

h3.vl_section_header:before, h3.vl_section_header:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto
}

h3.vl_section_header:before {
    margin-right: 10px
}

h3.vl_section_header:after {
    margin-left: 10px
}

ul {
    margin: 0
}

select {
    font-size: 12pt;
    width: 200px;
}

option {
    font-size: 12pt;
}