body {
    font-size: 12pt;
    font-family: Tahoma, sans-serif;
}

.logtext {
    display: inline;
    font-family: courier, monospace;
    font-size: 12pt;
}

code {
    font-family: courier, monospace;
    font-size: 12pt;
    font-weight: bold;
}


table {
    border-collapse: collapse;
    padding: 8px;
    border: 1px solid;
    background-color: white;
    text-align: left;
}

table td, table th {
    padding: 6px;
    border: 1px solid black;
}

table.vl_source_code {
    border-collapse: collapse;
    padding: 16px;
    border: 2px solid;
    background-color: #e5e5e5;
    text-align: left;
}

table.vl_log_table {
    border-collapse: collapse;
    padding: 8px;
    border: 1px solid;
    background-color: white;
    text-align: left;
}
table.vl_log_table td, table.vl_log_table th {
    padding: 6px;
    border: 1px solid black;
}


div.vl_log_cell {
    padding-right: 30px;
    horiz-align: center;
    border-collapse: collapse;
    padding-left: 30px;
    border: transparent;
    background-color: white;
    text-align: left;
}

.split {
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding: 0px 20px 20px 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: inline-block;
}

.greenButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a:link {
    text-decoration: none;
    color: darkblue;
}

a:visited {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: #5050FF;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
