.vl-comp-container {
  position: relative;
}

.vl-comp-content {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.vl-comp-content img {
  display:block;
  vertical-align:middle;
}

.vl-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  width: 20px;
  height: 20px;
  background-color: #2080CC;
  border-radius: 50px;
  opacity: 0.9;
}