<script>
    let pageUpdateTimeout = {{ reload_timeout }};
    let pageUpdateFrequency = {{ reload_frequency }};
    let pageRetryFrequency = {{ retry_frequency }};
    let uniqueSessionId = `s${performance.now()}${Math.random().toString().slice(5)}`.replace('.', '')
    console.log("Starting session " + uniqueSessionId)
    let vl_fetch_url = "{{ reload_url }}?sessionId=" + uniqueSessionId

    function handle_set_content(headers, data) {
        let targetElement = headers.get("targetElement")
        document.getElementById(targetElement).innerHTML = data;
    }

    function fetch_newest_page() {
        fetch(vl_fetch_url, {
            method: "GET",
            keepalive: true,
            timeout: pageUpdateTimeout,
        }).then(res => {
            setTimeout(fetch_newest_page, pageUpdateFrequency);
            if (res.status !== 200) {
                return;
            }
            pageUpdateFrequency = parseInt(res.headers.get("vlRefreshTime"))
            res.text().then(data => {
                let action = res.headers.get("action")
                if (action === "setContent") {
                    handle_set_content(res.headers, data)
                }
            })
        }).catch(function (error) { // just try again until server recovered
            setTimeout(fetch_newest_page, pageRetryFrequency);
        });
    }
</script>

<div id="vlbody"></div>

<script>
    setTimeout(fetch_newest_page, pageUpdateFrequency);
</script>
